@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@500&display=swap");

.main-font {
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px gray;
    border: solid 3px transparent;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #3B82F6;
    border: solid 3px transparent;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
